@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*
{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Fira Sans', sans-serif;
}

body
{
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 50vh;
	background: #f8f8f8;
	user-select: none;
}

.main
{
	text-align: center;
	justify-content: center;
	width: 450px;
	position: relative;
}

.main h2
{
	height: 15vh;
	font-size: 30px;
}

.main .ttsText
{
	position: absolute;
	resize: none;
	height: 240px;
	top: 106px;
	width: 460px;
	font-size: 30px;
	text-indent: 4px;
	display: block;
    margin-left: auto;
    margin-right: auto;
}

.ttsText::placeholder {
    font-size: 20px;
    text-indent: 4px;
    line-height: 2;
    overflow: visible;
}

.main .submitClass
{
	border: 2px solid black;
	top: 370px;
	position: absolute;
	right: 270px;
	text-decoration: none;
	font-size: 20px;
	width: 40%;
	height: 55%;
	border-radius: 8px;
	color: #fff;
	text-transform: uppercase;
	text-decoration: none;
	background: #008000;
	padding: 20px;
	border-radius: 5px;
	display: inline-block;
	border: none;
	transition: all 0.4s ease 0s;
	cursor: pointer;
}

.main .submitClass:hover
{
	background: #FF0000;
	transition: 0.5s;
}


.main .clearClass
{
	border: 2px solid black;
	top: 370px;
	position: absolute;
	left: 280px;
	text-decoration: none;
	font-size: 20px;
	width: 40%;
	height: 55%;
	border-radius: 8px;
	color: #fff;
	text-transform: uppercase;
	text-decoration: none;
	background: #FF0000;
	padding: 20px;
	border-radius: 5px;
	display: inline-block;
	border: none;
	transition: all 0.4s ease 0s;
	cursor: pointer;
}

.main .clearClass:hover
{
	background: #008000;
	transition: 0.5s;
}


.home
{
	position: absolute;
	top: 20px;
	right: 50px;
}

.home:hover
{
	top: 15px;
	transition: 0.5s;
}