@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*
{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Fira Sans', sans-serif;
}

body
{
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 50vh;
	background: #f8f8f8;
	user-select: none;
}

.main
{
	text-align: center;
	justify-content: center;
	width: 450px;
	position: relative;
}

.main h2
{
	position: relative;
	top: 60px;
	font-size: 50px;
}


.main textarea
{
	resize: none;
	position: relative;
	left: 360px;
	display: block;
	height: 100px;
	width: 40%;
	font-size: 15px;
	padding: 4px;

}

.main .meme
{
	width: 1px;
	height: 1px;
	opacity: 0;
}

.main input[type="range"]
{
	position: relative;
	left: 600px;
	display: block;
	bottom: 60px;
	
}

.main .submit
{
	position: relative;
	left: 225px;
	top: 10px;
	width: 40%;
	height: 40px;
	border: 2px solid black;
	border-radius: 4px;
	font-size: 18px;
	
}

.main .submit:hover
{
	background: rgb(0, 155, 100);
}

.main .downloadDiv
{
	position: relative;
	right: 290px;
	top: 350px;
	text-decoration: none;
	border: 2px solid black;
	border-radius: 4px;
	width: 30%;
	height: 40px;
	text-align: center;
	padding: 8px;
	
}

.main .downloadDiv:hover
{
	background: rgb(0, 155, 100);
}

.main input[type="text"]
{
	position: relative;
	top: 160px;
	right: 15px;
	cursor: pointer;
	width: 40%;
	
}

.home
{
	position: absolute;
	top: 20px;
	right: 50px;
	
}

.home:hover
{
	top: 15px;
	transition: 0.5s;
	
}

.main .memeImgPreview
{
	width: 80%;
	height: 90%;
	position: relative;
	right: 450px;
	top: 170px;
}